# BEGIN Nphp
<IfModule mod_rewrite.c>
Options FollowSymLinks
IndexIgnore *
RewriteEngine On

# RewriteBase in order for this to work on a virtual hosts (users) server
# unfortunately, i haven't found a way to get this working on all environments without setting RewriteBase....
# the problem here is /~user/ is a virtual host, and thus apache "doesn't know" the current htaccess virtual path
# i know this sucks for multiple environments - but hey, blame the apache guys for not having thought of a simpler way to do it
RewriteBase /~trutas/NaturePHP/examples/framework_mode
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
</IfModule>

# END Nphp